*

!/.gitignore
!/LICENSE
!/README.md

!/config.yml
!/inventory.yml
!/requirements.yml

!/live.yml
!/live/
!/live/1-check.yml
!/live/2-partition.yml
!/live/3-format.yml
!/live/4-mount.yml
!/live/5-install.yml

!/chroot/
!/chroot/1-time.yml
!/chroot/2-locale.yml
!/chroot/3-network.yml
!/chroot/4-accounts.yml
